<div class="container">
  <div class="heading"> MONTHLY PREMIUM </div>
  <div class="outdiv"> {{this._Infostring + this._calculatedpremium  }}</div>


  <div class="maindiv">
    <form [formGroup]="premiumForm" (ngSubmit)="onSubmit()">

      <div class="left">
        <div class="alignlabel">
          <label>
            Name <b class="star">*</b>
          </label>
        </div>
        <input class="inputalign" type="text" formControlName="name" maxlength="100" placeholder="Enter Your Name">
        <div
          *ngIf="(premiumForm.controls.name.invalid && (premiumForm.controls.name.dirty || premiumForm.controls.name.touched))"
          class="alert">

          <div class="errortextalign" *ngIf="premiumForm.controls.name.errors.required">
            Name is required !
          </div>
        </div>

      </div>



      <div class="left">
        <div class="alignlabel">
          <label>
            Date Of Birth <b class="star">*</b>
          </label>
        </div>
        <input type="date" class="inputalign" formControlName="DOB" (change)="onDOBSelect($event)">
        <div
          *ngIf="(premiumForm.controls.DOB.invalid && (premiumForm.controls.DOB.dirty || premiumForm.controls.DOB.touched))"
          class="alert">

          <div class="alert errortextalign">
            Date Of Birth is Invalid !
          </div>

        </div>

      </div>

      <div class="left">
        <div class="alignlabel">
          <label>
            Age <b class="star">*</b>
          </label>
        </div>

        <input type="text" class="inputalign" formControlName="age" maxlength="3" readonly required>
        <div *ngIf="!this.IsAgevalid" class="alert">

          <div class="alert errortextalign">
            Age must be greater than 0 !
          </div>

        </div>

      </div>


      <div class="left">
        <div class="alignlabel">
          <label>
            Sum Insured <b class="star">*</b>
          </label>
        </div>

        <input type="text" maxlength="10" class="inputalign" onkeypress="return event.charCode >= 46 && event.charCode <= 57"
          formControlName="sumInsured"  placeholder="Enter Sum Insured"><i>(In $)</i> 
        <div
          *ngIf="premiumForm.controls.sumInsured.invalid && (premiumForm.controls.sumInsured.dirty || premiumForm.controls.sumInsured.touched)"
          class="alert">

          <div class="errortextalign" *ngIf="premiumForm.controls.sumInsured.errors.required">
            Sum Insured is required !
          </div>

        </div>

      </div>

      <div class="left">
        <div class="alignlabel">
          <label>
            Occupation <b class="star">*</b>
          </label>
        </div>
        <select id="select" class="inputalign" required name="select" (change)="onOccupationChange($event)"
          formControlName="occupation">
          <option *ngFor="let oc of _occupationlist " [value]="oc.rating">
            {{oc.name}}
          </option>

        </select>
        <div class="errortextalign" *ngIf="this.occupationinvalid" class="alert errortextalign">Select Occupation !
        </div>

      </div>

      <div class="right">
        <button class="button" type="submit" [disabled]="!premiumForm.valid  || this.occupationinvalid || !this.IsAgevalid">Calculate</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button" type="button" (click)="clearform()">Reset</button>
      </div>
    </form>
  </div>
</div>