

.container
{
    margin: 20px;
    color: rgb(70, 136, 236);
    border-radius: 10px;
    background-color:rgb(237, 243, 245);
   

}

.maindiv
{
    position: relative;
    margin-left: 25px;
    
}
.star
{
    color: red;
}
.heading
{
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    color: rgb(17, 91, 201);
}
.left
{
    width: 100%;
    margin: 10px 20px 0 25px;
    padding: 5px;;
    
}
.right
{
    margin: 30px;  
}

.button
{
margin:20px 20px 20px 0px;
cursor: pointer;
background-color: rgb(223, 229, 240);
width: 150px;
height: 40px;
font-size: large;
text-decoration: rgb(37, 34, 34);

}
.alert
{
    color: red;
    font-style: italic;
}
.outdiv
{
    margin-left: 50px;
    color: green;
    font-weight: bolder;
}